USE [master]
GO
/****** Object:  Database [DbCandidate]    Script Date: 6/1/2019 5:09:59 PM ******/
CREATE DATABASE [DbCandidate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCandidate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbCandidate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCandidate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DbCandidate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCandidate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCandidate]
GO
USE [DbCandidate]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/1/2019 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 6/1/2019 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[ZipCode] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_dbo.Candidates] PRIMARY KEY CLUSTERED 
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 6/1/2019 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[QualificationId] [int] IDENTITY(1,1) NOT NULL,
	[QualificationType] [nvarchar](30) NULL,
	[QualificationName] [nvarchar](max) NULL,
	[DateStarted] [datetime] NULL,
	[DateCompleted] [datetime] NULL,
	[CandidateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Qualifications] PRIMARY KEY CLUSTERED 
(
	[QualificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON 

INSERT [dbo].[Candidates] ([CandidateId], [FirstName], [LastName], [PhoneNumber], [Email], [ZipCode]) VALUES (11, N'Test1', N'Account1', N'111-222-3344', N'test1@mail.com', N'77002')
INSERT [dbo].[Candidates] ([CandidateId], [FirstName], [LastName], [PhoneNumber], [Email], [ZipCode]) VALUES (12, N'Test2', N'Account2', N'2221113344', N'test2@mail.com', N'77004')
INSERT [dbo].[Candidates] ([CandidateId], [FirstName], [LastName], [PhoneNumber], [Email], [ZipCode]) VALUES (13, N'Test3', N'Account3', N'2223334455', N'test3@test.com', N'77036')
SET IDENTITY_INSERT [dbo].[Candidates] OFF
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([QualificationId], [QualificationType], [QualificationName], [DateStarted], [DateCompleted], [CandidateId]) VALUES (9, N'Professional Certification', N'MSA', CAST(N'2019-05-01T00:00:00.000' AS DateTime), CAST(N'2019-05-14T00:00:00.000' AS DateTime), 16)
INSERT [dbo].[Qualifications] ([QualificationId], [QualificationType], [QualificationName], [DateStarted], [DateCompleted], [CandidateId]) VALUES (10, N'College Degree', N'Test University', CAST(N'2012-08-01T00:00:00.000' AS DateTime), CAST(N'2017-05-01T00:00:00.000' AS DateTime), 17)
INSERT [dbo].[Qualifications] ([QualificationId], [QualificationType], [QualificationName], [DateStarted], [DateCompleted], [CandidateId]) VALUES (11, N'Work Experience', N'CPi - Programmer', CAST(N'2017-06-01T00:00:00.000' AS DateTime), NULL, 17)
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 6/1/2019 5:09:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Candidates]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PhoneNumber]    Script Date: 6/1/2019 5:09:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PhoneNumber] ON [dbo].[Candidates]
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CandidateId]    Script Date: 6/1/2019 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_CandidateId] ON [dbo].[Qualifications]
(
	[CandidateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Qualifications_dbo.Candidates_CandidateId] FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidates] ([CandidateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qualifications] CHECK CONSTRAINT [FK_dbo.Qualifications_dbo.Candidates_CandidateId]
GO
/****** Object:  StoredProcedure [dbo].[procCandidateSelect]    Script Date: 6/1/2019 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vo,Ellie
-- Create date: 05/31/2019
-- Description:	select candidate based on selected criteria
-- =============================================
CREATE PROCEDURE [dbo].[procCandidateSelect] 
	@FirstName varchar(25) = null,
	@LastName varchar(25) = null,
	@Email varchar(150) = null,
	@PhoneNumber varchar(20) = null,
	@ZipCode varchar(5) = null,
	@QualificationType varchar(Max) = null,
	@QualificationName varchar(Max) = null,
	@SearchDate datetime = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Prepare multiple Qualification Type and Name
	IF ISNULL(@QualificationType,'') <> ''
		SET @QualificationType = '|' + @QualificationType

	IF ISNULL(@QualificationName,'') <> ''
		SET @QualificationName = '|' + @QualificationName

    -- select list of candidate with search criteria
	SELECT distinct c.*
	FROM Candidates c LEFT JOIN Qualifications q ON c.CandidateID = q.CandidateId
	WHERE (@FirstName IS NULL OR c.FirstName LIKE @FirstName)
		AND (@LastName IS NULL OR c.LastName LIKE @LastName)
		AND (@Email IS NULL OR c.Email LIKE @Email)
		AND (@PhoneNumber IS NULL OR c.PhoneNumber LIKE @PhoneNumber)
		AND (@ZipCode IS NULL OR c.ZipCode LIKE @ZipCode)
		AND (@QualificationType IS NULL OR @QualificationType LIKE '%|' + q.QualificationType + '|%')
		AND (@QualificationName IS NULL OR @QualificationName LIKE '%|' + q.QualificationName + '|%')
		AND (@SearchDate IS NULL OR (q.DateStarted = DATEADD(MONTH,-1,@SearchDate) OR q.DateCompleted = DATEADD(MONTH,1,@SearchDate))) 
	ORDER BY c.FirstName, c.LastName
END
GO
USE [master]
GO
